<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <h3>Mascota</h3>
        Nombre: <span th:text="${mascotaAttributes.nombre}"></span>
        <br />
        Edad: <span th:text="${mascotaAttributes.edad}"></span>
        <br />
        Sexo: <span th:text="${mascotaAttributes.sexo}"></span>
        <br />
        Tipo mascota: <span th:text="${mascotaAttributes.tipo_mascota}"></span>
        <br />
        Veterinaria: <span th:text="${mascotaAttributes.veterinaria}"></span>
        <br />
    </div>
</body>
</html>