<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <h3>Product Information</h3>
        Product: <span th:text="${productAtributtes.product_name}"></span>
        <br/>
    Description: <span th:text="${productAtributtes.description}"></span>
    </div>
    <div class="container">
        Product: <span th:text="${productAtributtes1.product_name}"></span>
        <br/>
    Description: <span th:text="${productAtributtes1.description}"></span>
    </div>
</body>
</html>