<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <h3>Vehiculo</h3>
        Marca: <span th:text="${vehiculoAttribute.marca}"></span>
        <br />
        Modelo: <span th:text="${vehiculoAttribute.modelo}"></span>
        <br />
        Tipo de vehiculo: <span th:text="${vehiculoAttribute.tipo_vehiculo}"></span>
        <br />
        Color: <span th:text="${vehiculoAttribute.color}"></span>
        <br />
    </div>
</body>
</html>